.contenedor {
    border-radius: 10%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(238, 173, 231);
    border-radius: 10%;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    text-align: center;
    padding: 15px;
    border: 2px solid mediumpurple; 
}

img{
    width: 120px;
    height: 120px;
}

.card {
    width: 180px;           
    height: 320px; 
    background-color: rgb(238, 173, 231);
    border: 2px solid mediumpurple;
    border-radius: 8px;
    margin: 0;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}